.header {
	@include adaptiveValue("padding-top", 30, 15);
    position: relative;
    // .header__container

	&__container {
        border-bottom: rem(1) solid #cacaca;
	}

	// .header__content

	&__content {
        padding-bottom: rem(20);
	}

    // .header__main

    &__main {
    }

}

.main-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    @media (max-width:$tablet){
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    

	// .main-header__search

	&__search {
	}


    // .main-header__logo

    &__logo {
        font-size: rem(150);
        
    }
    ._icon-logo{
    }

    // .main-header__user

    &__user {
        display: flex;
        align-items: center;
        padding: rem(5);
        span{
            font-size: rem(25);
            line-height: math.div(25, 25);
        }
    }
    ._icon-user{
        font-size: rem(40);
    }
}

.search-header {

    // .search-header__form

    &__form {
        border: 1px solid #000;
        position: relative;
        display: flex;
        
    }

    // .search-header__button

    &__button {
        position: absolute;
        justify-content:center;
        align-items: center;
        border-right: 1px solid #000;
    }

    // .search-header__input

    &__input {
    }
}


//========================================================================================================================================================

.menu {
    position: absolute;
    align-self: self-start;
    // .menu__body

    &__body {
        @media (max-width:$tablet) {
            position: fixed;            
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            overflow: auto;
            background-color: white;
            padding: rem(100) 0;
            z-index: 4;
            transition: left 0.3s ease 0s;
            &::before{//"бровь", чтобы был нормальный скролл и не уходил вверх за текст
				content:'';
				position: fixed;
				width: 100%;
				height: 70px;
				left: -100%;
				top: 0;
				background-color: white;
			 }
            .menu-open & {
                left: 0;
                &::before{
                    content:'';
                    left: 0;
                }
            }
        }
    }
    @media (max-width:$tablet){//иконка бургера 
        display: block;
        position: absolute;
        @include adaptiveValue("right", 30, 15);
    }
}

//========================================================================================================================================================
//Burger

.icon-menu {
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: 40px;
		height: rem(22.5);
		cursor: pointer;
		z-index: 10;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

