.main-block {
	@include adaptiveValue("margin-top", 100, 50);
	// .main-block__container

	&__container {
	}

	// .main-block__swiper

	&__swiper {
	}

	// .main-block__slider

	&__slider {
		width: 75%;
		height: rem(200);
	}

	// .main-block__wrapper

	&__wrapper {

	}

	// .main-block__slide

	&__slide {
		position: relative;

	}

	// .main-block__body

	&__body {
		padding: rem(30);
	}

	// .main-block__title

	&__title {
		color: #000;
	}

	// .main-block__text

	&__text {
		color: #000;
	}
	



	// .main-block__image

	&__image {
		// .main-block__image_ibg

		&_ibg {
			
		}
	}

}